In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
indep=dataset[['age', 'bmi', 'charges', 'sex_male', 'smoker_yes']]
indep

      age     bmi      charges  sex_male  smoker_yes
0      19  27.900  16884.92400         0           1
1      18  33.770   1725.55230         1           0
2      28  33.000   4449.46200         1           0
3      33  22.705  21984.47061         1           0
4      32  28.880   3866.85520         1           0
...   ...     ...          ...       ...         ...
1333   50  30.970  10600.54830         1           0
1334   18  31.920   2205.98080         0           0
1335   18  36.850   1629.83350         0           0
1336   21  25.800   2007.94500         0           0
1337   61  29.070  29141.36030         0           1

[1338 rows x 5 columns]

In [10]:
dep=dataset['charges']
dep

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [12]:
X_train.shape

(892, 5)

In [13]:
y_train.shape

(892,)

In [14]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='mse',splitter='best',max_features='auto')
regressor.fit(X_train,y_train)

C:\Users\Hi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mse', max_features='auto')

In [17]:
y_predict=regressor.predict(X_test)

In [18]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_predict)

In [19]:
r_score

0.999655788266311